<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Triamun.Log4NetViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Triamun.Log4NetViewer.Properties.Settings>
            <setting name="DebugBackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DebugForegroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InfoBackgroundColor" serializeAs="String">
                <value>PowderBlue</value>
            </setting>
            <setting name="InfoForegroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WarnBackgroundColor" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="WarnForegroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ErrorBackgroundColor" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="ErrorForegroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FatalBackgroundColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="FatalForegroundColor" serializeAs="String">
                <value>Blue</value>
            </setting>
        </Triamun.Log4NetViewer.Properties.Settings>
    </userSettings>
</configuration>